[Unit]
Description=Flask app for DHT11 Temperature Monitoring

[Service]
WorkingDirectory=/home/pi/dht11_control
ExecStart=/home/pi/gunicorn_venv/bin/gunicorn -b 0.0.0.0:8081 app:app
Environment="PATH=/home/pi/gunicorn_venv/bin:$PATH"
Environment="PYTHONPATH=/home/pi/dht11_control"
User=pi
Group=pi
Restart=always

[Install]
WantedBy=multi-user.target
