[Unit]
Description=Automated Traffic Capture and Conversion
After=network.target

[Service]
ExecStart=/home/pi/dht11_control/traffic_automation.sh
Restart=always
User=pi
WorkingDirectory=/home/pi/dht11_control

[Install]
WantedBy=multi-user.target
